body {
    background: burlywood;
    font-family: 'Courier New', Courier, monospace;
    max-width: 900px;
    margin: auto;
}
.post_photo {
    border-radius: 50%;
    border: 1px solid black;
}

#title, #subtitle, #post_title {
    color: gray;
} 

#title {
    font-size: 50px;
    text-transform: uppercase;
}

.post_title {
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-bottom: 17px;

}

a {
    text-decoration: line-through;
    color: gray;
}
.post {
    background: brown;
    padding: 20px;
    border: 10px solid black;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.post_photo {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
.post_image {
    max-width: 100%;
}

.contacts_list {
    list-style-type: none; 
    padding: 15px;  
}

.contacts_list li a {
    text-decoration: none;
    color: blue;

}
